<plugin name='coffeescript-resources' version='0.3.6' grailsVersion='1.3.7 &gt; *'>
  <author>Edvinas Bartkus</author>
  <authorEmail>edvinas@geeks.lt</authorEmail>
  <title>CoffeeScript Resources</title>
  <description>Plugin that automatically compiles CoffeeScript to JavaScript and works with the resources plugin.</description>
  <documentation>http://github.com/edvinasbartkus/grails-coffeescript-resources</documentation>
  <type>CoffeescriptResourcesGrailsPlugin</type>
  <resources>
    <resource>CoffeeScriptResourceMapper</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='org.mozilla' name='rhino' version='1.7R4' />
    </runtime>
  </dependencies>
  <plugins>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>
